Package: md5cat-perl
Version: 0.2-1
Architecture: all
Maintainer: Gerhard Gonter <ggonter@gmail.com>
Original-Maintainer: Gerhard Gonter <ggonter@gmail.com>
Installed-Size: 629
Depends: perl, forge001-perl, libdigest-md5-file-perl
Section: perl
Priority: optional
Homepage: tbd
Description: Perl scripts from the md5cat repo
